<h1>{{title}}</h1>
<hr>
<div>
  <form class="d-flex flex-column  gap-2" [formGroup]="creationForm" (ngSubmit)="saveStaf()">
    <input formControlName="id" type="number" class="form-control d-none" />

    <div class="d-flex gap-3">
      <div class="d-flex gap-3 flex-column">
        <div class="image-container">
          <img [src]="photo"  fetchpriority="low" priority />
        </div>
        <input type="file"  accept="image/png, image/jpeg, image/webp ,imaje/jpg" class="flex-fill"
          (change)="loadPhoto($event)" />
      </div>
      <mat-grid-list cols="2" class="flex-fill " rowHeight="90">

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            @if(formValidators.isError(creationForm,'name'))
            {
               <mat-error> {{formValidators.validate(creationForm,'name','Name')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Surname</mat-label>
            <input formControlName="surname" matInput>
            @if(formValidators.isError(creationForm,'surname'))
            {
               <mat-error> {{formValidators.validate(creationForm,'surname','Surname')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId">
              @for (item of countries ; track $index)
              {
              <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            @if(formValidators.isError(creationForm,'countryId'))
            {
               <mat-error> {{formValidators.validate(creationForm,'countryId','Country')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Birthdate</mat-label>
            <input formControlName="birthdate" [max]="today" matInput [matDatepicker]="datepicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix  [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Movies</mat-label>
            <mat-select multiple="true" formControlName="movies">
              @for (item of movies ; track $index)
              {
                 <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Roles</mat-label>
            <mat-select multiple="true" formControlName="roles">
              @for (item of roles; track $index)
              {
              <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            @if(formValidators.isError(creationForm,'roles'))
            {
               <mat-error> {{formValidators.validate(creationForm,'roles','Role')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field >
            <mat-label>Oscar</mat-label>
            <input hidden matInput>
            <mat-checkbox class="mt-2" matInput formControlName="isOscar"><span>Has Oscar</span></mat-checkbox>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

    </div>
    <hr>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea [rows]="5" style="height:auto" formControlName="description" matInput></textarea>
      @if(formValidators.isError(creationForm,'description'))
      {
         <mat-error> {{formValidators.validate(creationForm,'description','Description')}}</mat-error>
      }
    </mat-form-field>
    <hr>

    <div class="d-flex gap-3 justify-content-around">
      <button type="submit" class="flex-fill"  mat-raised-button
        color="primary">Save</button>
      <button type="button" class="flex-fill" mat-raised-button color="" routerLink="/staf-table">Cancel</button>
    </div>



  </form>
</div>
