
  <mat-toolbar color="primary">
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span>Online Movie</span>
    @if(accountService.isAdmin()){
    <div class="d-flex gap-2 mx-5 align-items-center">
      <div class="btn text-white d-flex gap-2 align-items-center"  routerLink="/movie-table">
        <mat-icon>movie</mat-icon>
        <span>Movies</span>
      </div>
      <div class="btn text-white d-flex gap-2 align-items-center"  routerLink="/staf-table">
        <mat-icon>group</mat-icon>
        <span>Stafs</span>
      </div>
    </div>
  }
    <span class="example-spacer"></span>
    <div class="d-flex gap-2 align-items-center">
      @if(accountService.isAuthenticated()){
      <button mat-icon-button [matMenuTriggerFor]="menu">
        @if(accountService.isAdmin()){
          <mat-icon>android</mat-icon>
        }
        @else{
          <mat-icon>person</mat-icon>
        }
      </button>
      <mat-menu #menu="matMenu">
        @if(accountService.isAdmin()){
          <button mat-menu-item routerLink="/register">
            <mat-icon>person_add</mat-icon>
            <span>Add new admin</span>
          </button>
        }
        <button mat-menu-item routerLink="/useraccount">
          <mat-icon >account_circle</mat-icon>
          <span>My account</span>
        </button>
        <button mat-menu-item (click)="accountService.logOut()">
          <mat-icon>logout</mat-icon>
          <span>LogOut</span>
        </button>
      </mat-menu>
      <span class="fs-7 fw-light">Вітаємо, {{accountService.getUserName()}} {{accountService.getUserSurname()}} !!!</span>
    }
    @else{
      <button mat-icon-button routerLink="/login">
          <mat-icon>person</mat-icon>
      </button>
    }

      <button mat-icon-button>
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

  </mat-toolbar>

