<div class="d-flex flex-column w-25 mx-auto text-center">
  <div class="d-flex gap-4 align-items-baseline mb-5">
    <mat-icon class="fs-3" btn (click)="location.back()">arrow_back</mat-icon>
    <h1>Fogot password</h1>
  </div>
  @if(!sended)
  {
  <form class="d-flex flex-column gap-2"(ngSubmit)="send()" [formGroup]="formGroup">
  <mat-form-field  appearance="outline">
    <mat-label>Email</mat-label>
    <input type="email"  formControlName="email" matInput required placeholder="Enter your email">

    @if(validator.isError('email')){
      <mat-error> {{validator.validate('email','Email')}}</mat-error>
    }

  </mat-form-field>
  <button type="submit"  class="flex-fill" mat-raised-button color="primary">Send</button>
   </form>
  }
  @else{
    <span class="mb-3">Сheck your mailbox a message has been sent to you...</span>
    <button type="button" (click)="router.navigate(['/'])" class="flex-fill" mat-raised-button color="primary">Return to main page</button>
  }
</div>

