mat-form-field{
  flex-basis: 97%;
}

h1{
  font-size: 30px;
  font-weight: bold;
}

.image-container{
  width: 270px;
  height: 400px;
  padding:  3px ;
}

.h-20{
  height: 20%;
}

.screen{
  display:block;
  width: 100%;
  padding: 10px;
}

.screen-container img{
  width: 100%;
}



