mat-form-field{
  flex-basis: 97%;
}

h1{
  font-size: 30px;
  font-weight: bold;
}



.h-20{
  height: 20%;
}

.screenshot{
  position: absolute;
  height: 100%;
  margin-left: 10px;

}

.close{
  position: relative;
  color: red;
  left: 0.5%;
  top: 4%;
  z-index: auto;

}

