 <div class="d-flex gap-4 align-items-baseline">
    <mat-icon class="fs-3" btn (click)="location.back()">arrow_back</mat-icon>
    <h1>{{title}}</h1>
 </div>

<hr>
<div>
  <form class="d-flex flex-column  gap-2" [formGroup]="creationForm" (ngSubmit)="saveMovie()">
    <div class="d-flex gap-3">
      <div class="d-flex gap-3 flex-column">
        <div class="edit-image-container">
          <img [src]="poster" fetchpriority="low" priority />
        </div>
        <input type="file" accept="image/png, image/jpeg, image/webp ,imaje/jpg" class="flex-fill"
          (change)="loadPoster($event)" />
      </div>
      <mat-grid-list cols="4" class="flex-fill" rowHeight="90">

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput>
            @if(validator.isError('name')){
            <mat-error> {{validator.validate('name','Name','must start with uppercase leter')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Original name</mat-label>
            <input formControlName="originalName" matInput>
            @if(validator.isError('originalName')){
            <mat-error> {{validator.validate('originalName','Original name','must start with uppercase leter')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Stafs</mat-label>
            <mat-select multiple="true" formControlName="stafs">
              @for (item of stafs ; track $index){
              <mat-option [value]="item.id">{{item.name}} {{item.surname}}</mat-option>
              }
            </mat-select>
            @if(validator.isError('stafs')){
            <mat-error> {{validator.validate('stafs','Movie staf')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="2">
          <mat-form-field appearance="outline">
            <mat-label>Genres</mat-label>
            <mat-select multiple="true" formControlName="genres">
              @for (item of genres; track $index){
              <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            @if(validator.isError('genres')){
            <mat-error> {{validator.validate('genres','Genre')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="4">
          <mat-form-field appearance="outline">
            <mat-label>Trailer Url</mat-label>
            <input formControlName="trailerUrl" matInput>
            @if(validator.isError('trailerUrl')){
            <mat-error> {{validator.validate('trailerUrl','Trailer Url')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="3">
          <mat-form-field appearance="outline">
            <mat-label>Movie Url</mat-label>
            <input formControlName="movieUrl" matInput>
            @if(validator.isError('movieUrl')){
            <mat-error> {{validator.validate('movieUrl','Movie Url')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Quality</mat-label>
            <mat-select formControlName="qualityId">
              @for (item of qualities ; track $index)
              {
              <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            @if(validator.isError('qualityId')){
            <mat-error> {{validator.validate('qualityId','Quality')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label> Movie duration</mat-label>
            <input type="time" matInput formControlName="duration" />
            @if(validator.isError('duration')){
            <mat-error> {{validator.validate('duration','Duration')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select formControlName="countryId">
              @for (item of countries ; track $index)
              {
              <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            @if(validator.isError('countryId')){
            <mat-error> {{validator.validate('countryId','Country')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline" class="example-form-field">
            <mat-label>Releas date</mat-label>
            <input formControlName="date" [max]="today" matInput [matDatepicker]="datepicker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="outline">
            <mat-label>Premium</mat-label>
            <mat-select formControlName="premiumId">
              @for (item of premiums; track $index)
              {
              <mat-option [value]="item.id">{{item.name}}</mat-option>
              }
            </mat-select>
            @if(validator.isError('premiumId')){
            <mat-error> {{validator.validate('premiumId','Premium')}}</mat-error>
            }
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <hr>
    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea [rows]="5" style="height:auto" formControlName="description" matInput></textarea>
      @if(validator.isError('description'))
      {
      <mat-error> {{validator.validate('description','Description')}}</mat-error>
      }
    </mat-form-field>
    <hr>

    <mat-form-field appearance="outline">
      <mat-label>Screenshots</mat-label>
      <input hidden formControlName="screenShots" matInput/>
      <mat-grid-list cols="4" rowHeight="1.8:1">
        @for (item of movieScreens ; track movieScreens;let i = $index) {
        <mat-grid-tile>
          <div class=" h-100 w-100 mb-4">
            <img src={{item.name}} class="screenshot" fetchpriority="low" priority />
             <button (click)="deleteScreen($event)" class="close btn">
                <mat-icon  id={{i}}>close</mat-icon>
              </button>
          </div>

        </mat-grid-tile>
        }
      </mat-grid-list>
      @if(validator.isError('screenShots'))
      {
      <mat-error> {{validator.validate('screenShots','Screenshots')}}</mat-error>
      }
      </mat-form-field>
      <input type="file" multiple accept="image/png, image/jpeg, image/webp ,imaje/jpg" class="flex-fill"
      (change)="addScreen($event)" />


    <div class="d-flex gap-3 justify-content-around">
      <button type="submit" class="flex-fill" mat-raised-button color="primary">Save</button>
      @if(movieId > 0){
        <button type="button" class="flex-fill" (click)="formInit()" mat-raised-button>Reset to default</button>
      }
      @else{
        <button type="reset" class="flex-fill"mat-raised-button>Reset to default</button>
      }
    </div>
  </form>

</div>
