/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.edit-image-container img,
.image-container img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.filter{
  width: 100%;
  align-items: center;
  padding: 0;
  margin: 0;
}

.find-header{
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.new-btn{
  flex-shrink: 0;
  margin-top: 10px;
}
.image-container{
  width: 55px;
  height: 70px;
  padding:  3px ;
}
.edit-image-container{
  width: 290px;
  height: 430px;
  padding:  3px ;
}

.w-30{
  width: 30%;
}

