
  <h1 class="text-center">Reset account password</h1>
  <hr>
  <h3 class="text-center">Enter new password for "{{userEmail}}"" </h3>
  <div>
    <form class="d-flex flex-column  gap-2 w-25 mx-auto" [formGroup]="creationForm" (ngSubmit)="reset()">
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput>
        @if(validator.isError('password'))
        {
        <mat-error> {{validator.validate('password','Password','incorect')}}</mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Сonfirmation password</mat-label>
        <input type="password" formControlName="confirmPassword" matInput>
        @if(validator.isError('confirmPassword'))
        {
        <mat-error> {{validator.validate('confirmPassword','Сonfirmation password','and password do not match')}}</mat-error>
        }
      </mat-form-field>
      <button type="submit" class="flex-fill" mat-raised-button color="primary">Reset password</button>
      <button type="button" class="flex-fill" routerLink="/" mat-raised-button>Go to main page</button>
    </form>
  </div>

